img
{
  float: left;  
}

.main header
{
    background-color: #ffffff;
    border-color: #666666;
}

.header2
{
    color: #4aaaa5;
}

body
{
    background-image: url(../images/memphis-mini-dark.png);
}

.maincontent
{
    background-color: #ffffff;
    height: 300px;
    border-color: #dddddd;
}

h2 
{
  color: #4aaaa5;  
}

p 
{
    color: #777777;
}

footer
{
    color: #777777;
    text-align: center;

}

.maincontent2
{
    background-color: #ffffff;

}

.header2
{
    color: #4aaaa5;
}

.maincontent3
{
    height: 500px;
    background-color: #ffffff;
}

.header3
{
    color: #4aaaa5;
}

nav 
{
    float: right;
    margin: -40px;
    margin-right: 15px;
    color: #777777

}

nav a
{
    text-decoration: none;
    margin-left: 15px;
    padding-left: 15px;
    color: #999;
}

.wrapper
{
    position: relative;
}

.text-block
{
    position: relative;
    text-align: center;
    top: 50%;
    width: 50%;
}

footer
{
    padding: 0px;
    text-align: center;
    margin-top: 5px;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    color: #ffffff;
}

h1
{
    background-color: #4aaaa5;
    color: #ffffff;

}

.column 
{
    float: left;
    width: 44.44%;
    padding: 5px;
}

.row::after 
{
    content: "";
    clear: both;
    display: table;
 }


